* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #ffffff;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 8%
}

nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo {
    width: 160px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}